<select>
  <option value="school formal" selected> school formal</option>
  <option value="semi-formal"> semi-formal</option>
  <option value="party"> party</option>
  <option value="ball"> ball</option>
  <option value="gala"> gala</option>
  <option value="graduation"> graduation</option>
</select>