<select>
  <option value="0" selected> school formal</option>
  <option value="1"> semi-formal</option>
  <option value="2"> party</option>
  <option value="3"> ball</option>
  <option value="4"> gala</option>
  <option value="5"> graduation</option>
</select>