<footer>
  <div class="section grey darken-4" id="nav-bot">
    <div class="container">
      <div class="row">

        <div class="col s6 m8 l10">
          <div class="row"> 
            <div class="col s12 m6 l4"><a href="/about">About Verdct</a></div>
            <div class="col s12 m6 l4"><a href="#search">Search events</a></div>
            <div class="col s12 m6 l4"><a href="/contact">Ask a question</a></div>
            <div class="col s12 m6 l4"><a href="/info">How it works</a></div>
            <div class="col s12 m6 l4"><a href="#newevent">Register an event</a></div>
            <div class="col s12 m6 l4"><a href="/contact">Advertise with us</a></div>
          </div>
        </div>

        <div class="col s6 m4 l2">
          <a href="/auth/facebook"><img src="fb.png" class="responsive-img"></a>
          <a href="/auth/instagram"><img src="insta.png" class="responsive-img"></a>
        </div>

      </div>
    </div>
  </div>

	<div class="section grey darken-1" id="bottom">
		<div class="container" id="bottom2">
			<p class="text-center text-muted">© 2016 Verdct</p>
		</div>
	</div>
</footer>

