<header>
<div class="teal lighten-4 row flex-container wr" id="header-img">
          
            <div class="col s12 m5 l5 flex-item">
              <div class="section x">
                <div class="container">
              <h2 class="lora">Ensure nobody wears the same dress as you</h2>
              <p class="open x">Remain anonymous and avoid any #twinning disasters at your event.</p>
              <div class="center-align">
                <a href="/info" class="waves-effect waves-light btn-large teal lighten-4 open black-text big-button y">How it works</a>
              </div>
            </div>
            </div>
        </div>

            <div class="col s12 m7 l7 flex-item">
              <img src="images/bed.jpg" class="responsive-img" id="header-img">
            </div>
       
      </div>
</header>