<select>
  <option value="1" selected> $ 0 - 100</option>
  <option value="2"> $ 100 - 170</option>
  <option value="3"> $ 170 - 250</option>
  <option value="4"> $ 250 - 370</option>
  <option value="5"> $ 370 - 500</option>
  <option value="6"> $ 500 - 620</option>
  <option value="7"> $ 620 - 800</option>
  <option value="8"> $ 800 +</option>
</select>