<select>
  <option value="1" selected> $ 0 - 1000</option>
  <option value="2"> $ 1000 - 2000</option>
  <option value="3"> $ 2000 - 3000</option>
  <option value="4"> $ 3000 - 4000</option>
  <option value="5"> $ 4000 - 5000</option>
  <option value="6"> $ 5000 - 7000</option>
  <option value="7"> $ 7000 - 10,000</option>
  <option value="8"> $ 10,000 +</option>
</select>