<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <div class="container">
      <header>
        <% include ../../partials/navbar %>
        <% include ../../partials/header %>
      </header>
    </div>


    <form id="formAddEvent" name="addevent" method="post" action="/api/events" class="margined">
      <div class="form-group">
        <p>Name:
          <input id="inputName" type="text" placeholder="Enter Event Name" name="name"/>
        </p>
        <p>Venue:
          <input id="inputVenue" type="text" placeholder="Enter Event Venue" name="venue"/>
        </p>
        <p>Address:
          <input id="inputAddress" type="text" placeholder="Enter Event Address" name="address"/>
        </p>
        <p>Suburb:
          <input id="inputSuburb" type="text" placeholder="Enter Event Suburb" name="suburb"/>
        </p>
        <p>City:
          <input id="inputCity" type="text" placeholder="Enter Event City" name="city"/>
        </p>
        <p>State:
          <input id="inputState" type="text" placeholder="Enter Event State" name="state"/>
        </p>
        <p>Type:
          <input id="inputType" type="text" placeholder="Enter Event Type" name="type"/>
        </p>
        <p>Date:
          <input id="inputDate" type="text" placeholder="Enter Event Date" name="date"/>
        </p>
        <p>Time:
          <input id="inputTime" type="text" placeholder="Enter Event Time" name="time"/>
        </p>
        <p>Image URL:
          <input id="inputImageURL" type="text" placeholder="Enter Event Image URL" name="imageURL"/>
        </p>
        <p>Login Name:
          <input id="inputLogin Name" type="text" placeholder="Enter Event Login Name" name="login"/>
        </p>
        <p>Password:
          <input id="inputPassword" type="text" placeholder="Choose a password for the event" name="password"/>
        </p>
        <p>
        <p>
          <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Save</button>
        </p>
      </div>
    </form>

</body>
</html>