<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>
    <link rel="stylesheet" type="text/css" href="javascripts/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="javascripts/slick/slick-theme.css"/>
  </head>
  <body>
    <% include partials/nav-top.ejs %>
      <main>
        <div class="section">
          <div class="container">
            <div class="row padded">
              <div class="col s8">
                <h4 class="lora">About Verdct</h4>
              </div>
              <div class="col s4 right-align x">
                <a href="/">
                  <i class="material-icons black-text">clear</i>
                </a>
               </div>
            </div>
          </div>

          <div class="container">
           <div class="row padded">
            <div class="col s12 m12 l4 center-align">
              
            </div>

            <div class="col s12 m12 l4 center-align">
              
            </div>

            <div class="col s12 m12 l4 center-align">
              
            </div>
          </div>
        </div>
      </div>
      </main>
        <div class="slick teal lighten-4 center-align topcont">
          <div class="center-align">Asymetrical<img class="" src="/images/tops/Asymetrical.png"></div>
          <div class="center-align">Collar<img class="" src="/images/tops/Collar.png"></div>
          <div class="center-align">Draped<img class="" src="/images/tops/Draped.png"></div>
          <div class="center-align">Elbow sleeves<img class="" src="/images/tops/ElbowSleeves.png"></div>
          <div class="center-align">Strapless<img class="" src="/images/tops/Strapless.png"></div>
          <div class="center-align">Halter<img class="" src="/images/tops/Halter.png"></div>
          <div class="center-align">Sweetheart<img class="" src="/images/tops/Sweetheart.png"></div>
          <div class="center-align">High neck<img class="" src="/images/tops/HighNeck.png"></div>
          <div class="center-align">V-neck<img class="" src="/images/tops/VNeck.png"></div>
          <div class="center-align">Square neck<img class="" src="/images/tops/SquareNeck.png"></div>
          <div class="center-align">Spagetti straps<img class="" src="/images/tops/SpaghettiStraps.png"></div>
          <div class="center-align">Short sleeves<img class="" src="/images/tops/ShortSleeves.png"></div>
          <div class="center-align">One shoulder<img class="" src="/images/tops/OneShoulder.png"></div>
          <div class="center-align">Off the shoulder<img class="" src="/images/tops/OffTheShoulder.png"></div>
          <div class="center-align">Long sleeves<img class="" src="/images/tops/LongSleeves.png"></div>
          <div class="center-align">Scoop neck<img class="" src="/images/tops/ScoopNeck.png"></div>
          <div class="center-align">Round neck<img class="" src="/images/tops/RoundNeck.png"></div>
      </div>
        <!-- <ul class="collapsible center-align open" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><h5>1. Name the event</h5></div>
            <div class="collapsible-body">
              <p>(Don't worry, you can always change the details later)</p>

              <div class="row flex-container form1 valign-wrapper">
                <p class="margined">the </p>
                <div class="input-field col s7 form valign">
                  <input id="name" type="text">
                  <label for="name">name of the event</label>
                </div>
                </div>
                  
                  <div class="row flex-container form1 valign-wrapper">
                    <p class="margined">is a </p>
                    <div class="input-field col s2 form valign black-text">
                      <% include partials/e-sel %>
                    </div>

                    <p class="margined">in</p>
                  <div class="input-field col s3 form valign">
                    <input id="city" type="text" class="">
                    <label for="city">city or suburb</label>
                  </div>
                    
                    <p class="margined">on</p>
                  <div class="input-field col s2 form valign">
                    <input id="date" type="date" class="datepicker">
                    <label for="date">choose date</label>
                  </div>

                  </div>

              

              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><h5>2. Select an image</h5></div>
            <div class="collapsible-body">
              <p>(Don't worry, you can always change the details later)</p>
              <div class="carousel">
                <img class="carousel-item" src="images/e1.png">
                <img class="carousel-item" src="images/e2.png">
                <img class="carousel-item" src="images/e3.png">
                <img class="carousel-item" src="images/e4.png"> 
                <img class="carousel-item" src="images/e5.png"> 
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><h5>3. Set up a password (optional)</h5></div>
            <div class="collapsible-body">
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </li>
        </ul>
          
          <ul class="collapsible open" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header active x">
                      <div class="input-field col s12">
                          <input id="name" type="text">
                          <label for="name" class="black-text">Name of the event</label>
                        </div>
                    </div>
                    <div class="collapsible-body x">
                        <p class="x">Event type</p>
                        <div class="input-field col s12 black-text">
                          <% include partials/e-sel %>
                        </div>

                        <div class="input-field col s3 form valign">
                          <input id="city" type="text" class="">
                          <label for="city black-text">City or suburb</label>
                        </div>
                            
                        <div class="input-field col s2 form valign">
                          <input id="date" type="date" class="datepicker">
                          <label for="date">choose date</label>
                        </div>
                      </div>
                  </li>
          <li>
            <div class="collapsible-header"><h5>2. Select an image</h5></div>
            <div class="collapsible-body">
              <p>(Don't worry, you can always change the details later)</p>
              <div class="carousel">
                <img class="carousel-item" src="images/e1.png">
                <img class="carousel-item" src="images/e2.png">
                <img class="carousel-item" src="images/e3.png">
                <img class="carousel-item" src="images/e4.png"> 
                <img class="carousel-item" src="images/e5.png"> 
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><h5>3. Set up a password (optional)</h5></div>
            <div class="collapsible-body">
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </li>
        </ul> -->

        <!-- <li>
            <div class="collapsible-header z col s12 m6 offset-m3"><h5>2. Select a cover image</h5></div>
            <div class="collapsible-body">
              <div class="row card-holder2">
                <div class="card col s12 m6 l4">
                  <div class="card-image waves-effect waves-blockwaves-light">
                    <img class="card" src="images/e1.png">
                  </div>
                  <div class="card-image waves-effect waves-blockwaves-light">
                    <img class="card" src="images/e2.png">
                  </div>
                  <div class="card-image waves-effect waves-blockwaves-light">
                    <img class="card" src="images/e3.png">
                  </div>
                  <div class="card-image waves-effect waves-blockwaves-light">
                    <img class="card" src="images/e4.png">
                  </div>
                  <div class="card-image waves-effect waves-blockwaves-light">
                    <img class="card" src="images/e5.png">
                  </div>
                </div>
              </div>
              
                <div class="file-field input-field col s12 m6 offset-m3">
                  <div class="btn waves-effect waves-light btn-large open white black-text big-button">
                    <span><i class="material-icons">camera_alt</i></span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" value="Upload your own image">
                  </div>
                </div>
              
            </div>
          </li> -->
          
      <% include partials/footer.ejs %>
      <% include partials/scripts %>
      <script src="https://npmcdn.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
  </body>
</html>