<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>
  </head>
  <body>
    <% include partials/nav-top.ejs %>
      <main>
        <div class="section">
          <div class="container">
            <div class="row padded">
              <div class="col s8">
                <h4 class="lora">About Verdct</h4>
              </div>
              <div class="col s4 right-align x">
                <a href="/spa">
                  <i class="material-icons black-text">clear</i>
                </a>
               </div>
            </div>
          </div>

          <div class="container">
           <div class="row padded">
            <div class="col s12 m12 l4 center-align">
              
            </div>

            <div class="col s12 m12 l4 center-align">
              
            </div>

            <div class="col s12 m12 l4 center-align">
              
            </div>
          </div>
        </div>
      </div>

      </main>
      <% include partials/footer.ejs %>
      <% include partials/scripts %>
  </body>
</html>