<!-- <!DOCTYPE html>
<html>
  <head>
   </head>
   <body>
   </body>
   </html> -->



<!-- CREATE EVENT
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        
                        <input type="text" class="form-control input-lg text-center" placeholder="event name" ng-model="formData.name">
                        
                        <input type="text" class="form-control input-lg text-center" placeholder="event brand" ng-model="formData.brand">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createEvent()">Add</button>
                </form>
            </div>
        </div> -->