<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
  	<div class="container">
      <header>
        <% include partials/navbar %>
        <% include partials/header %>
      </header>
   </div>

			<p>This is your user ID <%= user_id %> </p>
			<p>This is your username <%= username %> </p>
			<p>This is your user ID <%= email %> </p>
			
  </body>
</html>