<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>
  </head>
  <body>
    <% include partials/nav-top.ejs %>
    <% include partials/header.ejs %>
    <main>
        <% if (user) { %>
        <% include savedEvents.ejs %>
        <% } %>

        <div class="section">
          <div class="container lora">
            <h3 class="">Has your event been registered yet?</h2>
              <div class="row flex-container form1 valign-wrapper">
                <h5 class="margined">I'm looking for a </h5>
                <div class="input-field col s4 form valign black-text">
                  <select ng-model="search.type" type="text">
                    <option value="school formal" selected> school formal</option>
                    <option value="semi-formal"> semi-formal</option>
                    <option value="party"> party</option>
                    <option value="ball"> ball</option>
                    <option value="gala"> gala</option>
                    <option value="graduation"> graduation</option>
                  </select>
                </div>
              </div>
              <div class="row flex-container form1 valign-wrapper">
                <h5 class="margined">and it's called </h5>
                <div class="input-field col s7 form valign">
                    <input id="name" type="text" placeholder="St Mark's College Formal">
                    <label for="name"></label>
                </div>
              </div>
              <div class="col s12 right-align">
                  <a href="/search" class="waves-effect waves-light btn-large open white black-text big-button search">Search</a>
                </div>
            </div>     
          </div>
      </main>
      <% include partials/footer.ejs %>
      <% include partials/scripts %>
  </body>
</html>