<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>
  </head>
  <body>
    <% include partials/nav-top.ejs %>
    <main>
      <div class="section teal lighten-4">
        <div class="container">
          <div class="row">
            <div class="col s12 m5 offset-m3">
              <h4 class="lora">Add a dress to your shortlist</h4>
              <p class="open w">Fill in as many details as possible to help avoid a clash!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 offset-m3">
              <div class="z">
                <h5 class="lora">The image</h5>
              </div>
              <div class="file-field input-field">
                <div class="btn waves-effect waves-light btn-large open white black-text big-button">
                  <span><i class="material-icons">camera_alt</i></span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" value="Upload your own image">
                </div>
              </div>
              <p>or</p>
              <div class="input-field col s12 z">
                <input id="img_url" type="text">
                <label for="img_url" class="">Copy/paste the image URL </label>
              </div>  
            </div>
          </div>  
        </div>
      </div>
              
      <div class="section teal lighten-4">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 offset-m3">
              <h5 class="lora">The style</h5>
            </div>
          </div>
        </div>

        <ul class="bxslider teal lighten-4 center-align" id="sTop">
          <li class="center-align topcont">Asymetrical<img class="topimg" src="/images/tops/Asymetrical.png"></li>
          <li class="center-align topcont">Collar<img class="topimg" src="/images/tops/Collar.png"></li>
          <li class="center-align topcont">Draped<img class="topimg" src="/images/tops/Draped.png"></li>
          <li class="center-align topcont">Elbow sleeves<img class="topimg" src="/images/tops/ElbowSleeves.png"></li>
          <li class="center-align topcont">Strapless<img class="topimg" src="/images/tops/Strapless.png"></li>
          <li class="center-align topcont">Halter<img class="topimg" src="/images/tops/Halter.png"></li>
          <li class="center-align topcont">Sweetheart<img class="topimg" src="/images/tops/Sweetheart.png"></li>
          <li class="center-align topcont">High neck<img class="topimg" src="/images/tops/HighNeck.png"></li>
          <li class="center-align topcont">V-neck<img class="topimg" src="/images/tops/VNeck.png"></li>
          <li class="center-align topcont">Square neck<img class="topimg" src="/images/tops/SquareNeck.png"></li>
          <li class="center-align topcont">Spagetti straps<img class="topimg" src="/images/tops/SpaghettiStraps.png"></li>
          <li class="center-align topcont">Short sleeves<img class="topimg" src="/images/tops/ShortSleeves.png"></li>
          <li class="center-align topcont">One shoulder<img class="topimg" src="/images/tops/OneShoulder.png"></li>
          <li class="center-align topcont">Off the shoulder<img class="topimg" src="/images/tops/OffTheShoulder.png"></li>
          <li class="center-align topcont">Long sleeves<img class="topimg" src="/images/tops/LongSleeves.png"></li>
          <li class="center-align topcont">Scoop neck<img class="topimg" src="/images/tops/ScoopNeck.png"></li>
          <li class="center-align topcont">Round neck<img class="topimg" src="/images/tops/RoundNeck.png"></li>
        </ul>

        <ul class="bxslider2 input-field" id="sBot">
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/A-line.png">
            <p class="btmtitle center-align">A-line</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Ballgown.png">
            <p class="btmtitle center-align">Ballgown</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/BoxPleats.png">
            <p class="btmtitle center-align">Box pleats</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Circle.png">
            <p class="btmtitle center-align">Circle</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/FullBodied.png">
            <p class="btmtitle center-align">Full bodied</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Gown.png">
            <p class="btmtitle center-align">Gown</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Mermaid.png">
            <p class="btmtitle center-align">Mermaid</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Mini.png">
            <p class="btmtitle center-align">Mini</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Pencil.png">
            <p class="btmtitle center-align">Pencil</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/SunrayPleats.png">
            <p class="btmtitle center-align">Sunray pleats</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Trouser.png">
            <p class="btmtitle center-align">Trouser</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Tulip.png">
            <p class="btmtitle center-align">Tulip</p>
          </li>
          <li class="btmcont center-align">
            <img class="center-align" src="/images/bottoms/Tutu.png">
            <p class="btmtitle center-align">Tutu</p>
          </li>
        </ul>
        </div>
      
        
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 offset-m3">
              <h5 class="lora">The colour</h5>
              <input class="jscolor"></input>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 offset-m3">
              <h5 class="lora">The details</h5>
               <div class="input-field col s12 z">
                <input id="brand" type="text">
                <label for="brand" class="">Brand/designer</label>
              </div>
              <div class="input-field col s12 z">
                <input id="name" type="text" class="">
                <label for="name" class="">Dress name</label>
              </div>
              <p class="">Price range</p>
              <div class="input-field col s12 z">
                <% include partials/prices %>
              </div>
              <button href="/api/events/new" method="post" class="waves-effect waves-light btn-large open white black-text big-button x">Save</button>
              <a href="/" class="margined waves-effect waves-light btn-large open white black-text big-button x" id="cancel">Cancel</a>
              <div class="x">
                <p>P.S. You can edit all of the details later</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
       
    <% include partials/footer.ejs %>
    <% include partials/scripts %> 
    <script type="text/javascript" src="javascripts/jscolor.min.js"></script>
  </body>
</html>