<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>

  </head>
  <body>
    <% include partials/nav-top.ejs %>
      <main>
        <div class="section teal lighten-4">
          <div class="container">
            <div class="row">
              <div class="col s12 m5 offset-m3">
                <h4 class="lora">Add a dress to your shortlist</h4>
                <p class="open w">Fill in as many details as possible to help avoid a clash!</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col s12 m6 offset-m3">
                <ul class="collapsible open" data-collapsible="expandable">
                  <li>
                    <div class="collapsible-header z active"><h5>The image</h5></div>
                    <div class="collapsible-body">
                      <div class="file-field input-field">
                        <div class="btn waves-effect waves-light btn-large open white black-text big-button">
                          <span><i class="material-icons">camera_alt</i></span>
                          <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" value="Upload your own image">
                        </div>
                      </div>
                      <p>or</p>
                          <div class="input-field col s12 z">
                  <input id="img_url" type="text">
                  <label for="img_url" class="">Copy/paste the image URL </label>
                </div>  
                    </div>
                  </li>
          <li>
            <div class="collapsible-header z active"><h5>The style</h5></div>
            <div class="collapsible-body">

              <ul class="bxslider teal lighten-4">
                <li><img class="center-align" src="/images/tops/Asymetrical.png"></li>
                <li><img class="center-align" src="/images/tops/Collar.png"></li>
                <li><img class="center-align" src="/images/tops/Draped.png"></li>
                <li><img class="center-align" src="/images/tops/ElbowSleeves.png"></li>
                <li><img class="center-align" src="/images/tops/Strapless.png"></li>
                <li><img class="center-align" src="/images/tops/Halter.png"></li>
                <li><img class="center-align" src="/images/tops/Sweetheart.png"></li>
                <li><img class="center-align" src="/images/tops/HighNeck.png"></li>
                <li><img class="center-align" src="/images/tops/VNeck.png"></li>
                <li><img class="center-align" src="/images/tops/SquareNeck.png"></li>
                <li><img class="center-align" src="/images/tops/SpaghettiStraps.png"></li>
                <li><img class="center-align" src="/images/tops/ShortSleeves.png"></li>
                <li><img class="center-align" src="/images/tops/OneShoulder.png"></li>
                <li><img class="center-align" src="/images/tops/OffTheShoulder.png"></li>
                <li><img class="center-align" src="/images/tops/LongSleeves.png"></li>
                <li><img class="center-align" src="/images/tops/ScoopNeck.png"></li>
                <li><img class="center-align" src="/images/tops/RoundNeck.png"></li>
              </ul>

              <ul class="bxslider">
                <li><img class="center-align" src="/images/bottoms/A-line.png"></li>
                <li><img class="center-align" src="/images/bottoms/Ballgown.png"></li>
                <li><img class="center-align" src="/images/bottoms/BoxPleats.png"></li>
                <li><img class="center-align" src="/images/bottoms/Circle.png"></li>
                <li><img class="center-align" src="/images/bottoms/FullBodied.png"></li>
                <li><img class="center-align" src="/images/bottoms/Gown.png"></li>
                <li><img class="center-align" src="/images/bottoms/Mermaid.png"></li>
                <li><img class="center-align" src="/images/bottoms/Mini.png"></li>
                <li><img class="center-align" src="/images/bottoms/Pencil.png"></li>
                <li><img class="center-align" src="/images/bottoms/SunrayPleats.png"></li>
                <li><img class="center-align" src="/images/bottoms/Trouser.png"></li>
                <li><img class="center-align" src="/images/bottoms/Tulip.png"></li>
                <li><img class="center-align" src="/images/bottoms/Tutu.png"></li>
              </ul>
                
            
                
              
            </div>
          </li>
          <li>
            <div class="collapsible-header z"><h5>The colour</h5></div>
            <div class="collapsible-body">
              <div class="col s12 open">
                <input class="jscolor"></input>
            </div>
          </li>
          <li>
            <div class="collapsible-header z"><h5>The details</h5></div>
            <div class="collapsible-body">
              <div class="input-field col s12 z">
                  <input id="brand" type="text">
                  <label for="brand" class="">Brand/designer</label>
                </div>

                  <div class="input-field col s12 z">
                    <input id="name" type="text" class="">
                    <label for="name" class="">Dress name</label>
                  </div>
                  <p class="">Price range</p>
                <div class="input-field col s12 z">
                  <% include partials/prices %>
                </div>
                  <button href="/api/events/new" method="post" class="waves-effect waves-light btn-large open white black-text big-button x">Save</button>
                  <a href="/" class="margined waves-effect waves-light btn-large open white black-text big-button x" id="cancel">Cancel</a>
              <div class="x">
              <p>P.S. You can edit all of the details later</p>
              </div>
            </div>
          </li>
        </ul>




              </div>
            </div>
          </div>
        </div>


      </main>    
      <% include partials/footer.ejs %>
      <% include partials/scripts %> 
      <script type="text/javascript" src="javascripts/jscolor.min.js"></script>
  </body>
</html>