<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>
  </head>
  <body>
    <% include partials/nav-top.ejs %>
    
    <main>
        <div class="section">
          <div class="container">
            <div class="row open">
              <h4 class="lora w">Sign up</h4>
              <div class="col s12 m6 l6">
                <div class="z social">
                  <p class="open z">sign up with</p>
                  <a href="/auth/facebook"><img src="images/fbt.png"></a>
                  <a href="/auth/instagram"><img src="images/int.png"></a>
                  <a href="/auth/twitter"><img src="images/twt.png"></a>
                </div>
                <p>Already have an account? <a href="/login">Login</a></p>
                <p>Or go <a href="/">home</a>.</p>
              </div>
              <div class="col s12 m6 l6">
                <p class="open z">or</p>
                <div class="row">
                  <form action="/register" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                          <input type="text" name="email" id="email">
                          <label for="email">Enter your email</label>
                      </div>
                      <div class="input-field col s12">
                          <input type="text" name="username" id="username">
                          <label for="username">Choose a username</label>
                      </div>
                      <div class="input-field col s12 z">
                          <input type="password" name="password" id="password">
                          <label for="password">Choose a password</label>
                      </div>
                      <button type="submit" class="white btn btn-main z">Sign up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    <% include partials/footer.ejs %>
    <% include partials/scripts %>
  </body>
</html>