<div ng-app="savedEvent" ng-controller="savedEventController">
    <div class="container" id="cusec">

    <!-- HEADER AND SAVED EVENT COUNT -->
    <div class="text-center">
        <h3>Your events: <span class="label label-info" id="cuse"></span></h3>
    </div>

    <!-- EVENT LIST -->
    <div class="row">
        <div class="col s12 m6 l4 center-align v" ng-repeat="savedEvent in savedEvents">
            <a ng-href="api/events/{{ savedEvent.event_id }}">
            <p>{{savedEvent.e_img}}</p>
            <img src="{{savedEvent.e_img}}" class="responsive-img center-align">
            <p class="center-align how2 open">{{savedEvent.e_name}}</p>
            </a>
        </div>
    </div>
    </div>
</div>
