<!DOCTYPE html>
<html>
  <head>
    <% include partials/head2.ejs %>
  </head>
  <body>
    <% include partials/nav-top.ejs %>

  	
      <header>
        <div class="teal lighten-4 row flex-container wr" id="header-img">
          
            <div class="col s12 m5 l5 flex-item">
              <div class="section x">
                <div class="container">
              <h2>Ensure nobody wears the same dress as you</h2>
              <p class="open x">Remain anonymous and avoid any #twinning disasters at your event.</p>
              <div class="center-align">
                <a href="/info" class="waves-effect waves-light btn-large teal lighten-4 open black-text big-button y">How it works</a>
              </div>
            </div>
            </div>
        </div>

            <div class="col s12 m7 l7 flex-item">
              <img src="images/bed.jpg" class="responsive-img" id="header-img">
            </div>
       
      </div>
      </header>

      <main>
        <div class="section">
          <div class="container">
            <h3>Has your event been registered yet?</h2>

              <div class="row flex-container form1 valign-wrapper">
                <h5 class="margined">I'm looking for a </h5>
                <div class="input-field col s4 form valign black-text">
                  <% include partials/e-sel %>
                </div>
              </div>
              <div class="row flex-container form1 valign-wrapper">
                <h5 class="margined">and it's called </h5>
                <div class="input-field col s7 form valign">
                        <input id="name" type="text" placeholder="St Mark's College Formal">
                        <label for="name"></label>
                      </div>
                </div>
              </div>


          </div>
        </div>
      </main>

		  <% include partials/footer.ejs %>
      <% include partials/scripts %>
  </body>
</html>