<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="icon" type="image" href="/../../public/favicon.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<div class="container">
      <header>
        <h1><%= title %></h1>
      </header>
   	</div>
		





		
      <% include partials/scripts %>
  </body>
</html>