<!doctype html>

<!-- ASSIGN MODULE -->
<html>
    <head>
        <% include partials/head2.ejs %>
        <% include partials/scripts %>
    </head>

<body>
    <% include partials/nav-top.ejs %>

    <% include dresses.ejs %>




    <% include partials/footer.ejs %>   
</body>

</html>