<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <header>
        <% include ../partials/navbar %>
      </header>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Verdct API
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/api/users">Users</a><%= Utotal%></li>
            <li><a href="/api/dresses">Dresses</a><%= Dtotal%></li>
            <li><a href="/api/events">Events</a><%= Etotal%></li>
            <li><a href="/api/savedEvents">savedEvents</a><%= SEtotal%></li>
        </ul> 
    </div>
</nav>

  </body>
</html>