body {
	font-family: 'Open Sans', serif;
	font-weight: 100;
}
.lora{
	font-family: 'Lora', serif;
	font-weight: lighter;
}
.open{
	font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
  opacity: 1;
}

.side-nav{
	background-color: rgba(0,0,0,0.87);
	opacity: 0.7;
	width: 70%;
}

#top{
	background-color: black;
	opacity: 1;
}

.side-nav a {
	opacity: 1;
	color: white;
	display: inline;
}
#menu-close{
	display: inline;
	float: right;
}
.menu-gap{
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}
#menu-divider{
	width: 50%;
	display: inline-block;
}
#nav-bot{
	height: 30%;
	padding-top: 2em;
}
#nav-bot a{
	color: white;
	display: inline;
}
#nav-bot .col{
	padding: 1em;
}
#nav-bot img{
	padding: 0.5em;
}
#bottom{
	padding-top: 0.1rem;
}
#bottom2{
	height: 1.5em;
}
.u{
	height: 2em;
}
.v{
	margin-top: 2em;
	margin-bottom: 2em;
}
.w{
	margin-bottom: 1em;
	margin-top: 1em;
}
.x{
	margin-top: 3em;
}
.y{
	margin-top: 4em;
	margin-bottom: 4em;
}
.z{
	margin-bottom: 2em;
}
.how{
	padding-top: 8em;
	padding-left: 2em;
	padding-right: 2em;
}
.how2{
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 90%;
}
.padded{
	padding-bottom: 8em;
}

#contact{
	display: block;
}
.big-button{
	border: 1px;
	border-color: black;
	border-style: solid;
	text-transform: none;
}
#ok{
	margin-top: 8em;
}

#header-img{
	height: 35em;
	width: auto;
}
.flex-container{
	display: flex;
	flex-direction: row;
}
.wr{
	flex-wrap: wrap-reverse;
}
.flex-item{
	padding: 0 !important;
}
.form{
	flex-shrink: 1;
	margin-left: 1em !important;
}
.form1{

}
.collapsible-header{
	 border: none;
}
.collapsible-body{
	 border: none;
}
.collapsible-body p{
	 padding-left: 1em;
}
.collapsible{
	 box-shadow: none;
}
.collapsible-header.active{
	border-bottom: none !important;
}

.margined{
	margin-left: 3em;
}
/* label color */
   .input-field label {
     color: grey;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: black;
   }
   .input-field input[type=password]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   .social-icon{
   	max-width: 4em !important;
   }

.logo{
	margin-top: 0.3em;
	max-height: 1.5em;
	padding: 0.2em;
	border: 2px;
	border-style: solid;
	border-color: black;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.logo2{

}

.dropdown-content li>a, .dropdown-content li>span {
    color: #8F1A4F;
}
.btn-main{
	text-transform: none;
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: black;
	color: black;
}
.social img{
	padding: 0.5em;
}
.search{
	padding-left: 3em;
	padding-right: 3em;
}
.collapsible{
	border: none;
	margin: 0;
}
.input-field{
	margin-top: 0;
}
.margined >li {
	list-style-type: disc;
}
#fill{
	list-style-type: none;
}
.margined .y{
	display: block;
}
#cancel{
	border: none !important;
	color: #00B7FF !important;
	box-shadow: none;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.card {
  margin: 2vw;
  /*width: 44%;*/
  height: 40%;
}
.img-card {
  margin: 2vw;
  width: 40%;
  height: 40%;
}
.index-news{
  height: 30%;
}
.card-holder2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.parallax-container{
	height: 12em;
}
.tabz{
	text-transform: none !important;
	color: black;
}
.bold {
	font-weight: 700;
}
.underline{
	text-decoration: underline;
}
.newDress{
	height: 20em;
	width: 15em;
}
.nocaps{
	text-transform: none !important;
}
.bx-viewport {
    width: 100%;
    overflow: visible !important;
    background-color: transparent !important;
    border: none !important;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: none;
 }
 .bx-wrapper .bx-controls-direction a {
    position: absolute;
     top: 100%;
 }
 .topimg{
 	position: absolute;
 	bottom: 0;
 	-webkit-user-select: initial;
 }

 .topcont:hover{
	-webkit-filter: invert(0%);
 }
 .topcont{
 	position: relative;
 	min-height: 150px;
 	font-size: 0.75em;
 	-webkit-filter: invert(40%);
 }

 .btmtitle{
 	/*position: absolute;*/
 	bottom: 0;
 }
 .btmcont{
 	-webkit-filter: invert(40%);
 	/*position: relative;*/
 	min-height: 150px;
 	font-size: 0.75em;
 }
.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.selected{
	-webkit-filter: invert(0%);
}
.img_sel{
	-webkit-filter: invert(20%);
}
.img_sel:hover{
	-webkit-filter: invert(0%);
}
.btmcont:hover{
	-webkit-filter: invert(0%);
 }
.hidden{
	display: none;
}

.error {
	background-color: mistyrose;
	border: 1px solid red;
	min-height: 20px;
}
