<main>
  <div class="section">
    <div class="container">
      <div class="row open">
        <div class="col s12 m8 l8">
          <h4 class="lora">Contact us</h4>
          <p class="open">We're always happy to answer questions you have or help with an issue you are facing. Just send us a message in the form below.</p>
          <div class="row" id="contact">
            <form class="col s12" action='/contact' name='contactus' id='contactus' method='post'>
              <div class="row v">
                <div class="input-field col s12 m6">
                  <input type="text" name='nm' id='nm'>
                  <label for="nm">Your name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="email" type="email" class="validate" id="email" name="email">
                  <label for="email" data-error="invalid" data-success="ok">Your email</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s12 v">
                      <textarea name='message' id='textarea1' class='materialize-textarea'></textarea>
                      <label for="textarea1">How are you involved in the event?</label>
                    </div>
                  </div>
                </div>
                <input name='submit' type='submit' value='Send' id='submit' class='btn'>
              </div>
             </form>
          </div>
        </div>
        <div class="col s12 m4 l4 open">
          <div class="section">
            <p>General enquiries</p>
            <a href="hello@verdct.com">hello@verdct.com</a>
          </div>
          <div class="divider"></div>
          <div class="section">
            <p>For advertisers</p>
            <a href="marketing@verdct.com">marketing@verdct.com</a>
          </div>
         </div>
      </div>
    </div>
  </div>
  <div class="container">
   <div class="row padded">
    </div>
  </div>
</main>