<header>
  <div class="teal lighten-4 row flex-container wr" id="header-img">
        <div class="col s12 m5 l5 flex-item">
          <div class="section x">
            <div class="container">
          <h2 class="lora">Ensure nobody wears the same dress as you</h2>
          <p class="open x">Remain anonymous and avoid any #twinning disasters at your event.</p>
          <div class="center-align">
            <a href="/info" class="waves-effect waves-light btn-large teal lighten-4 open black-text big-button y">How it works</a>
          </div>
        </div>
        </div>
    </div>
        <div class="col s12 m7 l7 flex-item">
          <img src="images/bed.jpg" class="responsive-img" id="header-img">
        </div>
  </div>
</header>


    <div class="container" id="cusec">

    <!-- HEADER AND SAVED EVENT COUNT -->
    <div class="text-center">
        <h3>Your events: <span class="label label-info" id="cuse"></span></h3>
    </div>

    <!-- EVENT LIST -->
    <div class="row">
        <div class="col s12 m6 l4 center-align v" ng-repeat="savedEvent in savedEvents">
            <a ng-href="events/{{ savedEvent.event_id }}">
            <img src="images/e4.png" class="responsive-img center-align">
            <p class="center-align how2 open">{{savedEvent.e_name}}</p>
            </a>
        </div>
    </div>
    </div>


<main>
  <div class="section">
    <div class="container lora">
      <h3 class="">Has your event been registered yet?</h2>
        <div class="row flex-container form1 valign-wrapper">
          <h5 class="margined">I'm looking for a </h5>
          <div class="input-field col s4 form valign black-text">
            <select ng-model="search.type" type="text">
              <option value="school formal" selected> school formal</option>
              <option value="semi-formal"> semi-formal</option>
              <option value="party"> party</option>
              <option value="ball"> ball</option>
              <option value="gala"> gala</option>
              <option value="graduation"> graduation</option>
            </select>
          </div>
        </div>
        <div class="row flex-container form1 valign-wrapper">
          <h5 class="margined">and it's called </h5>
          <div class="input-field col s7 form valign">
              <input id="name" type="text" placeholder="St Mark's College Formal">
              <label for="name"></label>
          </div>
        </div>
        <div class="col s12 right-align">
            <a href="#/search" class="waves-effect waves-light btn-large open white black-text big-button search">Search</a>
          </div>
      </div>     
    </div>
</main>