<main>
     <div class="section teal lighten-4">
          <div class="container">
            <div class="row">
              <div class="col s8">
                <h4 class="lora">How to use Verdct</h4>
              </div>
              <div class="col s4 right-align x">
                <a href="#/">
                  <i class="material-icons black-text">clear</i>
                </a>
               </div>
            </div>
          </div>

          <div class="container">
           <div class="row padded">
            
            <div class="col s12 m12 l4 center-align">
              <img src="images/how1.png" class="responsive-img center-align how">
              <div class="">
                <p class="center-align how2 open">Search for your event on Verdct. <br class="hide-on-large-only">If it's not there, add it!</p>
              </div>
            </div>

            <div class="col s12 m12 l4 center-align">
              <img src="images/how2.png" class="responsive-img center-align how">
              <div class="">
                <p class="center-align how2 open">Create a shortlist of looks. <br class="hide-on-large-only">When you're ready, lock down<br class="hide-on-large-only"> the dress you're wearing <br class="hide-on-large-only">so others can see it.</p>
              </div>
            </div>

            <div class="col s12 m12 l4 center-align">
              <img src="images/how3.png" class="responsive-img center-align how">
              <div class="">
              <p class="center-align how2 open">Others will be alerted if they try <br class="hide-on-large-only">and add the same dress, <br class="hide-on-large-only">so you can relax and enjoy your night!</p>
            </div>
          </div>

            <div class="col s12 center-align hide-on-large-only">
              <a href="#/" class="waves-effect waves-light btn-large teal lighten-4 open black-text big-button" id="ok">OK, got it</a>
            </div>
        </div>
        
      </div>
      </div>
      </main>