<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <form id="formAddDress" name="addDress" method="post" action="/api/dresses" class="margined">
      <div class="form-group">
        <p>Name:
          <input id="inputName" type="text" placeholder="Enter Dress Name" name="name"/>
        </p>
        <p>Brand:
          <input id="inputBrand" type="text" placeholder="Enter Dress Brand" name="brand"/>
        </p>
        <p>Cost:
          <input id="inputCost" type="text" placeholder="Enter Dress Cost" name="cost"/>
        </p>
        <p>Top Style:
          <input id="inputSTop" type="text" placeholder="Enter Dress Top Style" name="sTop"/>
        </p>
        <p>Bottom Style:
          <input id="inputSBot" type="text" placeholder="Enter Dress Bottom Style" name="sBot"/>
        </p>
        <p>Colour:
          <input id="inputColour" type="text" placeholder="Enter Dress Colour" name="colour"/>
        </p>
        <p>Image URL:
          <input id="inputImgUrl" type="text" placeholder="Enter Dress Image URL" name="img_url"/>
        </p>
        <p>
          <button id="btnSubmit" type="submit" class="btn-lg btn-primary btn-centre">Save</button>
        </p>
      </div>
    </form>

</body>
</html>